{% block body %}
    <div class="container">
        <div id="send-message-view">
                <form id="compose-form">
                    <div class="form-group mb-3">
                        To: how to get to the recipient???
                    </div>
                    <textarea class="form-control mb-3" id="compose-body" placeholder="Body"></textarea>
                    <input type="submit" value="Send" class="btn btn-primary mb-3" id="submitMessageButton"/>
                </form>
        </div>
    </div>
{% endblock %}
