{% extends "musiclovahz/layout.html" %}
{% load static %}

{% block title %}
    Edit Profile
{% endblock %}


{% block body %}

    <div class="pl-4 mt-3">
     <form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">

        {% csrf_token %}
         <div class="pl-2 mt-3">
            <div class="mb-2 text-muted">Change your username</div>
            <div class="form-group w-25">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username" value="{{ form.username.value }}">
            </div>

            <div class="mb-2 text-muted ">Change your picture</div>
            <div class="form-group w-25">
                <input class="form-control" type="file" name="profile_picture" placeholder="Profile Picture">
            </div>
         </div>

        <hr>

         <div class="pl-4 mt-5">
            <div class="mb-2 text-muted ">Add songs</div>

            <div id="song-input-container" class="form-row">
                <div class="form-group w-25 song-input">
                    <input class="form-control mb-1" type="text" name="title" placeholder="Song title">
                    <input class="form-control" type="text" name="artist" placeholder="Artist">
                </div>

                <!-- New song fields will be added here dynamically -->

            </div>

                <button type="button" class="btn btn-dark" id="add-song-btn">Add another song</button>
        </div>

        <div class="d-flex justify-content-center mt-3 mb-5">
            <button class="btn btn-secondary" type="submit">Save Changes</button>
        </div>
    </form>

    </div>

{% endblock %}

{% block script%}
    <script src="{% static 'musiclovahz/add-song-form.js' %}"></script>
{% endblock%}