{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h4 class="pl-4 mt-3 mb-3">{{ profile_user.username }}'s profile page</h4>

        <!-- follow/unfollow button logic -->
        {% if profile_user != user %}       <!-- if the logged-in user is not the user whose profile page is being viewed -->
            <div class="pl-4">
                    {% csrf_token %}
                        <button class="btn btn-sm btn-danger follow-button" data-user-id="{{ profile_user.id }}">
                            {% if profile_user in user.following.all %}
                                UnFollow
                            {% else %}
                                Follow
                            {% endif %}
                        </button>
            </div>
        {% endif %}

        <!-- display followers and following -->
        <div class="d-inline-flex gap-3 text-secondary pl-4">
            <div class="ml-3 follower-count">
                {{ profile_user.followers.count }} followers
            </div>
            <div class="ml-3 following-count">
                {{ profile_user.following.count }} following
            </div>
        </div>

        <!-- display user's posts -->
        <div class="pl-4 mt-3">
            {% if posts %}
                {% for post in posts %}
                    <div class="comment mb-3" data-post-id="{{ post.id }}">
                       <p class="text-muted small mb-0">On {{ post.datetime }}</p>
                       <p class="mb-0">
                           <strong><a href="{% url 'view_profile_page' post.user.id %}"> {{ profile_user.username }}</a></strong> wrote
                           <span id="post-{{ post.id }}-content" class="post-content-style"> "{{ post.content }}" </span>

                           <!-- if post by logged-in user, they should be able to edit that post -->
                            {% if post.user.username == request.user.username %}
                                <button class="btn edit-post-button" data-post-id="{{ post.id }}">
                                    <span class="badge badge-danger">edit</span>
                                </button>
                            {% endif %}
                       </p>

                        <div class="like-container">
                            <button class="btn like-button" data-post-id="{{ post.id }}" data-liked = "{{ post.liked_by_user_status }}">
                                <img src="{% static 'network/gray.png' %}" class="like-symbol" alt="like icon">
                            </button>
                            <span class = "badge bg-dark text-white"> {{ post.likecount }} </span>
                        </div>
                   </div>
                {% endfor %}

            {% else %}
                <p>No posts to display.</p>
            {% endif %}
        </div>

{% endblock %}