{% extends "musiclovahz/layout.html" %}
{% load static %}

{% block body %}
    <h4 class="pl-4 mt-3 mb-3">Show Profiles</h4>
        {% if user.is_authenticated %}

            {% if matches %}
                {% for match in matches %}
                    {{ match }}
                {% endfor %}
            {% else %}
                {% include "musiclovahz/showrandomprofile.html" %}
            {% endif %}

        {% else %}

            <div class="text-center mt-5">
                Please <a href="{% url 'register' %}">register here!</a>
            </div>

            <div class="text-center">
                Already have an account? <a href="{% url 'login' %}">Log In here.</a>
            </div>
        {% endif %}

{% endblock %}