{% extends "musiclovahz/layout.html" %}
{% load static %}

{% block body %}

        {% if user.is_authenticated %}

            <div class="container">
            {% if matches %}

                <div class="row d-flex justify-content-center align-items-center"> <!-- Center the rows of cards -->
                    {% for user in matches %}

                        <!-- likes songs card-->
                        {% include "musiclovahz/song_likes.html" %}

                        <!-- profile card -->
                        {% include "musiclovahz/profile.html"%}

                        <!-- songs in common card -->
                        {% include "musiclovahz/songs_in_common.html" %}

                    {% endfor %}
                </div>
                
            {% else %}
                <p class="text-center text-muted">No profiles to show</p>
            {% endif %}
            </div>

        <!-- Pagination frontend, only 1 profile per page -->
        <nav aria-label="Page navigation">
          <ul class="pagination d-flex justify-content-center">
              {% if matches.has_previous %}
                <li class="page-item">
                    <a class="page-link text-white bg-danger" href="?page={{ matches.previous_page_number }}">Previous Profile</a>
                </li>
              {% endif %}

              {% if matches.has_next %}
                <li class="page-item">
                    <a class="page-link text-white bg-success" href="?page={{ matches.next_page_number }}">Next Profile</a>
                </li>
              {% endif %}
          </ul>
        </nav>

        {% else %}
            <div class="text-center mt-5">
                Please <a href="{% url 'register' %}">register here!</a>
            </div>

            <div class="text-center">
                Already have an account? <a href="{% url 'login' %}">Log In here.</a>
            </div>
        {% endif %}

{% endblock %}