/* LAYOUT PAGE */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;             /* prevents vertical scrolling */
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.5vw;
}

.logo {
    width: 7vw;
    height: auto;                   /* maintain aspect ratio */
}

@media (max-width: 768px) {         /* increase size of logo on small screens */
  .logo {
    width: 40vw;
  }
}

/* FORM FIELDS FOCUS */
.form-control:focus {
    border-color: #d3d3d3 !important;
    box-shadow: 0 0 5px gray !important;
}

/* USER PROFILE */
.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-picture {
    width: 16vw;
    height: auto;
    border-radius: 15px;           /* rounded edges for profile pics */
}

.card {
    border-radius: 0.375rem;       /* match rounded edges for bootstrap cards */
    max-width: 400px;              /* cards a bit smaller on larger screens */
    margin: 0 auto;                 /* center the cards */
}

/* small screen adjustments */
@media (max-width: 768px) {
  .card {
    max-width: 250px;               /* limit card width on smaller screens */
  }

                                    /* increase profile picture size on small screens */
  .profile-picture {
    width: 50vw;
  }
}


/* LIKE BUTTON APPEARANCE */
.like-container {
    display: inline-flex;           /* ensures button and count are aligned horizontally */
    align-items: center;            /* vertically aligns items */
}

.like-button {
    padding: 0;
    margin-bottom: 0.5vh;
}

.like-button:focus {                /* removes a focus thing (blue border) from the like buttons */
    box-shadow: none;
}

.like-icon {
    width: 2.8vw;
    min-width: 50px;
    height: auto;
    transition: all 0.3s ease;
}

.like-icon:hover {
    transform: scale(1.4);          /* grows without affecting layout */
}

/* PLAY AND PAUSE BUTTON APPEARANCE */
.audio-button {
    color: white;
    background: none;
    border: none;
    padding: 0;
    margin-left: 0.5vw;
    font-family: "Courier New", monospace;
    font-size: 1.3vh;
}

/* PAGINATION CONTROLS MATCHES PAGE */
.page-link {
    font-weight: bold;
    border: none;
}

.page-item {
    color: gray;
}

.page-link:hover {
    background-color: light-gray;
    color: black;
    border: none;
}

.page-link:focus {
    box-shadow: none; /* Remove the box-shadow that might appear in some browsers */
    border: none; /* Ensure there's no border */
}

/* CHAT WINDOW FOR MATCHES */
.custom-chat-card {
    width: 90%;
    max-width: 550px;
    margin-left: auto;
    margin-right: 2vw;
    /* border: 0; */
}

.message-date {
    float: right;
    font-size: 0.7em;
    color: gray;
    margin-top: 0.5vw;
}

.message-read {
    float: left;
    font-size: 0.7em;
    color: green;
    margin-top: -0.3vw;
}

.compose-form {
    width: 90%;
    max-width: 550px;
    margin-top: 0.3vw;
    margin-left: auto;
    margin-right: 2vw;
    border: 0;
}

#send-message-button {
    float: right;
}


/* SONG INPUT FORM styles */
#song-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;                  /* space between each input field */
}

.song-input {
    flex: 1 1 40%;
    min-width: 200px;
    max-width: 300px;
}

@media (max-width: 767px) {
    .song-input {
        flex: 1 1 70%;          /* on smaller screens, make each input take up 70% width */
    }
}