/* LAYOUT PAGE */
.logo-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.5vw;
}

.logo {
    max-width: 7vw;
    height: auto;                  /* maintain aspect ratio */
}


/* NEW POST FORM STYLES */

.new-post-form {
    margin-bottom: 2vh;
    padding: 1.5vw;
}

.new-post-form textarea {
    height: 15vh;
    resize: vertical;
    margin-bottom: 1vw;
}

.submit-container {
    margin-top: 15px;
}


/* LIKE BUTTON AND LIKE COUNT APPEARANCE */
.like-container {
    display: inline-flex; /* ensures button and count are aligned horizontally */
    align-items: center; /* Vertically aligns items */
}

.like-button {
    padding: 0;
    margin-bottom: 0.5vh;
}

.like-button:focus { /* removes a focus thing (blue border) from the like buttons */
    box-shadow: none;
}

.like-symbol {
    max-width: 1.3vw;
    height: auto;
}

.edit-post-button {
    padding: 0;
}

.edit-post-button:focus {
    box-shadow: none;
}

/* SHOW ALL POSTS */
.post-content-style {
    color: dodgerblue;
}


