/* LAYOUT PAGE */
.logo-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.5vw;
}

.logo {
    width: 7vw;
    height: auto;                  /* maintain aspect ratio */
}

@media (max-width: 768px) {        /* increase size of logo on small screens */
  .logo {
    width: 50vw;
  }
}

/* USER PROFILE */
.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-picture {
    width: 16vw;
    height: auto;
    border-radius: 15px;           /* rounded edges for profile pics */
}

.card {
    border-radius: 0.375rem;       /* match rounded edges for bootstrap cards */
    max-width: 300px;              /* cards a bit smaller on larger screens */
    margin: 0 auto;                 /* center the cards */
}

/* small screen adjustments */
@media (max-width: 768px) {
  .card {
    max-width: 250px;               /* limit card width on smaller screens */
  }

                                    /* increase profile picture size on small screens */
  .profile-picture {
    width: 50vw;
  }
}

/* LIKE BUTTON APPEARANCE */
.like-container {
    display: inline-flex;           /* ensures button and count are aligned horizontally */
    align-items: center;            /* vertically aligns items */
}

.like-button {
    padding: 0;
    margin-bottom: 0.5vh;
}

.like-button:focus {                /* removes a focus thing (blue border) from the like buttons */
    box-shadow: none;
}

.like-icon {
    width: 2.8vw;
    min-width: 50px;
    height: auto;
    transition: all 0.3s ease;
}

.like-icon:hover {
    transform: scale(1.4);          /* grows without affecting layout */
}
